Repository simonw/llm, pull requests merged in 2025-05, with the labels that each got.

#974 Fragment plugins can now optionally return attachments
  docs/fragments.md
  docs/plugins/plugin-hooks.md
  llm/__init__.py
  llm/cli.py
  tests/conftest.py
  tests/test_plugins.py
Labels: enhancement, plugins, attachments, fragments

#945 llm/default_plugins: add o3 model
  docs/openai-models.md
  docs/usage.md
  llm/default_plugins/openai_models.py
Labels: enhancement

#1062 llm chat --tool and --functions
  docs/help.md
  docs/usage.md
  llm/cli.py
  llm/models.py
  pyproject.toml
  tests/conftest.py
  tests/test_chat.py
  tests/test_plugins.py
Labels: tools

#1063 Async tool support
  docs/python-api.md
  llm/default_plugins/openai_models.py
  llm/models.py
  pyproject.toml
  tests/conftest.py
  tests/test_tools.py
Labels: asyncio, tools

#1052 Filter IDs with `--prefix` in `llm similar`
  docs/embeddings/cli.md
  docs/help.md
  llm/cli.py
  llm/embeddings.py
  tests/test_embed.py
  tests/test_embed_cli.py
Labels: enhancement, embeddings

#1098 Log tool_instances to database
  docs/logging.md
  llm/migrations.py
  llm/models.py
  tests/test_plugins.py
  tests/test_utils.py
Labels: tools, logging

#1138 Tools in templates
  README.md
  docs/plugins/plugin-hooks.md
  docs/templates.md
  llm/cli.py
  llm/templates.py
  tests/test_templates.py
Labels: tools
